body {
    font-family: 'MerriweatherSans', sans-serif;
    background: url('assets/ECO_AlardsBanner1620.png') no-repeat center center fixed;
    background-size: cover;
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'MerriweatherSans';
    src: url('./assets/MerriweatherSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    flex: 1;
}

.logo img {
    width: 200px; /* Adjust this value to your preferred size */
    margin: 20px 0 20px 20px; /* Add some margin to move it away from the top and left edges */
}

#status {
    flex: 2;
    text-align: center;
}

.content {
    overflow-y: auto;
    max-height: 60%;
    margin: 0 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

progress {
    width: 90%;
    height: 30px;
    margin-bottom: 20px;
    border: none;    
    background-color: rgba(255, 255, 255, 0.2);
}

progress[value]::-webkit-progress-bar {
    background-color: rgba(255, 255, 255, 0.2);
}

progress[value]::-webkit-progress-value {
    background-color: #4a90e2;
}

progress[value]::-moz-progress-bar {
    background-color: #4a90e2;
}

button {
    padding: 10px 20px;
    background: linear-gradient(to right, #4a90e2, #508bf9); /* Gradient background from blue to slightly lighter blue */
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    transition: all 0.2s ease-in-out;
    cursor: pointer; /* Change the mouse pointer on hover to indicate the element is clickable */
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    outline: none; /* Remove the default focus outline */
    margin-top: 10px; /* Add spacing at the top */
    margin-bottom: 10px;  /* Adjust the distance from the bottom */
}

button:hover {
    background: linear-gradient(to right, #508bf9, #4a90e2); /* Swap gradient colors on hover */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Make the shadow slightly more pronounced */
    transform: translateY(-2px); /* Lift the button up a bit */
}

button:active {
    transform: translateY(1px); /* Push the button down a bit when clicked */
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2); /* Reduce the shadow size to give the illusion of the button being pressed */
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gear-icon {
    cursor: pointer;
    font-size: 1.5em;
    position: absolute;  /* Makes the gear icon positioned relative to the entire page */
    top: 10px;           /* Distance from the top of the page */
    right: 10px;         /* Distance from the right side of the page */
}

#progress-section {
    width: 80%; /* Adjust this value to your preferred width for the progress bar */
    margin: 20px auto; /* This ensures the progress bar is horizontally centered and has some space around it */
    text-align: center; /* To center the text (like percentage) inside this container */
}

#download-percent {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 40px; /* or whatever height you find appropriate */
    padding-bottom: 10px;
}

.hidden {
    display: none;
}

.patchNotes {
    margin: 20px auto;
    width: 80%;  /* Adjust to your desired width */
    border: 1px solid #ddd;
    padding: 20px;
    overflow-y: auto;
    flex: 1;  /* Allows the patch notes section to take up the available space */
    display: block;  /* Ensures the section behaves as a block element */
    background-color: rgba(0, 0, 0, 0.8);  /* Semi-transparent black */
    border-radius: 10px;  /* Rounded corners */
    color: #FFF; /* Set text color to white for better visibility */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);  /* Add subtle shadow */
    overflow: auto;    /* If content exceeds max-height, a scrollbar will appear inside patchNotes. */
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;  /* takes up the full viewport height */
    /* ... any other styles ... */
}

/* Custom scrollbar for Webkit browsers */
.patchNotes::-webkit-scrollbar {
    width: 10px;
}

.patchNotes::-webkit-scrollbar-thumb {
    background-color: #999; 
    border-radius: 5px; 
}

.patchNotes::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 5px; 
}

.patchNotes h2 {
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}